# R: Data Wrangling

## Wrangling single data frame

### Cleaning column names

```r
# Manually renaming column by column
data <- rename(data, col1 = `Column One`,
                     col2 = `Column Two`,
                     col3 = `Column Three`)

# Using `janitor` package
library(janitor)

data <- clean_names(data)
```

### Subsetting data frame

```r
# COLUMNS 

# can be used to reorder columns
select(data, col1, col2, col3)

# subset a range of columns
select(data, col1:col3)

# select all
data |> 
    select() |>
    everything()

# extract column as vector
data |>
    pull(col1)

# ROWS

# subset rows based on condition
filter(data, col1 < 10)

# multiple conditions (AND)
filter(data, col1 == 10, col2 > 50)

# one of multiple conditions (OR)
filter(data, col1 ==10 | col2 > 50)

# if one of the cases
filter(data, col1 %in% c("case1", "case2", "case3"))


# select rows by index
data |> 
    slice(1:10)

```

```r
# for rows and columns simultaneously
```

| Operator | Example | Description |
|----------|---------|-------------|
| \[ | `data[1:10, ]` | rows 1-10, all columns |
| \[ | `data[1:10]` | columns 1-10 | 
| \[\[ | `data[[1]]` | column 1 as vector
| \$ | `data$col` | column as vector | 

```r
# logical indexing
# select rows that meet conditions, for all columns
data[data$col1 == 5, ]
```

### Add new variables / columns

```r
# by assignment
data$col1 <- data$col2 + 10 

# by mutation
# multiple columns can be mutated at a time
data |> 
    mutate(new_col1 = col1 * col2,
           new_col2 = col1 + col2)

# changing column in place
data |> 
    mutate(col1 = round(col1, 0))
```

### Selective changes to values

If you're matching strings, make sure to convert any factor columns into character vectors.

```r
data |>
    mutate(col = case_when(col == "case1" ~ "replacement1",
                           col == "case2" ~ "replacement2",
                           TRUE ~ col) # keep all other cases as is 
```

### Mapping

```r
library(purrr)

map_*(data, function)

```

|  | List | Atomic | Same Type | Nothing | 
|---|-----|--------|-----------|---------|
| One argument | map() | map_lgl() | modify() | walk() | 
| Two arguments | map2() | map2_lgl() | modify2() | walk2() | 
| One argument + index | imap() | imap_lgl() | imodify() | iwalk() | 
| N arguments | pmap() | pmap_lgl() | - | pwalk() | 

Source: [Advanced R](https://adv-r.hadley.nz/) by Hadley Wickham

```r
lapply()
apply()
tapply()
integrate()
optim()

```

### Sort

```r
# Sort column in ascending order 
data |> 
    arrange(col1)

# Sort column in descending order
data |> 
    arrange(desc(col1))
```

### Pivoting

```r
# split values into separate rows
data |>
    pivot_longer(`col1`:`col2`, names_to = "new_col1", values_to = "new_col2")

# split values into separate columns
data |>
    pivot_wider(names_from = col1, values_from = col2)
```

### Dealing with NA

```r
# for NA in just selected columns
data |> drop_na(col1:col2)

# for all affected rows
data |> drop_na()
```

### Summarizing data 

```r
# summaries on all rows 
data |>
    summarise(summary_col1 = func(col1),
              summary_col2 = mean(col2),
              summary_col3 = sum(col3))

# summaries by groups
data |>
    group_by(group_col) |>
    summarise(summary_col = mean(col))

# summaries by multiple hierarchies of groups
data |>
    group_by(group_col) |>
    summarise(summary_col = mean(col))

# nesting
```

## Wrangling multiple data frames

### Binding (not very safe)

```r
bind_rows(df1, df2, df3)
bind_cols(df1, df2)

```

### Joining

[joining cheatsheet](https://stat545.com/join-cheatsheet.html)

| Wanted Data | Column Format | Join Function |
| ----------- | ------------- | ------------- |
| common values in x & y | combined columns of x & y | `inner_join(x,y)` |
| common values in x & y | format of x | `semi_join(x,y)` |
| common values in x & y | format of y | `semi_join(y,x)` |
| x with additional info from y | modified format of x |`left_join(x,y)` |
| y with additional info from x | modified format of y | `left_join(y,x)` |
| unique values in x but not in y | format of x | `anti_join(x,y)` |
| unique values in y but not in x | format of y | `anti_join(y,x)` |
| all values from x & y | all columns from x & y | `full_join(x,y)` |